.rag-red {
    background-color: #cc222244;
}

.rag-green {
    background-color: #33cc3344;
}


.my-green-class {
    background-color: lightgreen;
}

.my-shaded-effect {
    background-color: lightgrey;
}